* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, 
a:active, 
a:hover, 
a:visited {
  text-decoration: none;
  color: inherit;
}

ul > li {
  list-style: none;
}

button:focus{
  outline: none;
}

.image-container > img{
  width: 100%;
  height: auto;
  object-fit: cover;
} 

.App {
  width:100%;
  text-align: center;
}

nav {
  margin: 0 auto;
  min-height: 50px;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  font-size: calc(8px + 1vmin);
}

.nav-item ul {
  display: inline-flex;
}

.nav-item ul .nav-link {
  padding: 1em 0.5em;
}

.nav-link {
  padding: 1em 2em;
}

.reg-btn > button {
  color: #fff;
  text-transform: uppercase;
  background: #1C800F;
  padding: 10px;
  border: 2px solid #1C800F;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.reg-btn > button:hover{
  color: #494949;
  border-radius: 50px;
  border-color: #494949;
  transition: all 0.3s ease 0s;
}

.reg-btn > button:focus {
  text-decoration: underline;
}

.reg-btn.login-btn > button {
  background: transparent;
  border: none;
  color: #000;
}

.landing-container {
  background-color: #282c34;
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.landing-container h1 {
  line-height: 1.618;
}
.landing-container h1 > span {
  display: block;
  margin-top: 10px;
  font-size: calc(10px + 3vmin);
}

.landing_cta-btn {
  margin-top: 50px;
  font-size: calc(8px + 1vmin);
  color: #282c34;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 1em;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.landing_cta-btn:hover {
  color: #fff;
  background: #626B7F;
  transition: all 0.4s ease 0s;
  text-shadow: 0px 0px 5px #444;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: calc(6px + 2vmin);
}

.content {
  width: 90%;
  margin: 0 auto;
  min-height: 400px;
  height: 50vh;

  padding: 2em 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.content .text-container{
  text-align: left;
  width: 50%;
  padding: 0;
}

.right-align.text-container {
  padding: 0 0 0 2em;
}

.content .image-container {
  max-width: 250px;
  width: 50vh;
}

.footer-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  background-color: #282c34;
}


/* Targets the fontawesome Icons, rendered as an SVG*/
.right-align.nav-item ul li svg {
  height: auto;
  margin: 5px;
  color: #D8E6E9;
  background-color: transparent;

}

.right-align.nav-item ul li svg:hover {
  color: #626B7F;
  text-shadow: 0px 0px 5px #FFFFFF;
}


