.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  background: url(https://www.huronconsultinggroup.com/-/media/careers/career-images/experienced-professional/MattB_careers1440.jpg?h=512&w=1440&la=en&hash=80A1A989B60D260767C50BD930F2B0EA0D230363) no-repeat fixed center;
  /* background-size: 100% 100%; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}
